@import '../../../../assets/scss/main';

.steps {
    margin-top: $spacing * 3;
    min-height: 890px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: url('/images/bg_04.png');
    background-size: cover;
    background-repeat: no-repeat;

    &__statement {
        padding-top: $spacing * 8;
    }

    @include breakpoint(mobile) {
        margin-top: $spacing * 5;
    }
}