$background-primary: getColor(fc-white);
$background-secondary:  getColor(fc-light-gray);
$background-dark:  getColor(fc-brown);
$background-branded:  getColor(fc-orange);
$background-brand:  getColor(fc-light-orange);
