$colors: (
    orange: #FF8103,
    light-orange: #FDEFD8,
    brown: #441D17,
    light-brown: rgb(134, 78, 70),
    red: #F55A46,
    blue: #6297EC,
    green: rgb(110, 253, 165),
    light-grey: #EEEEF3,
    white: #FFFFFF,
    black: #131212
);
