$colors: (
    fc-orange: #ff8103,
    fc-faded-orange: rgba(255, 144, 32, 0.26),
    fc-light-orange: #FDEFD8,
    fc-brown: #441D17,
    fc-light-brown: rgb(134, 78, 70),
    fc-red: #F55A46,
    fc-blue: #6297EC,
    fc-green: rgb(110, 253, 165),
    fc-light-gray: rgb(226, 226, 229),
    fc-gray: #818181,
    fc-white: #ffffff,
    fc-black: #3f3f3f
);
