@import '../../assets/scss/main';

.navbar {
    box-shadow: 0 0 15px getColor(fc-light-gray);
    
    @include breakpoint(mobile) {
        padding-right: $spacing * 2 !important;
        padding-left: $spacing * 2 !important;
    }
}

.navbar-brand {
    height: 90px;
}

.nav-item {
    font: $font-menu;
    margin-right: $spacing * 3;
    margin-left: $spacing * 3;
    min-height: $spacing * 5;

    .nav-link {
        color: getColor(fc-gray) !important;

        &.active {
            color: getColor(fc-orange) !important;
        }
    }

    &:hover {
        border-bottom: solid 2px getColor(fc-orange);
    }
}