@import '../../assets/scss/main';

.nav-item {
    font: $font-menu;
    margin-right: $spacing * 3;
    margin-left: $spacing * 3;
    min-height: $spacing * 5;

    .nav-link {
        color: getColor(fc-gray) !important;

        &.active {
            color: getColor(fc-orange) !important;
        }
    }

    &:hover {
        border-bottom: solid 2px getColor(fc-orange);
    }
}